In [26]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [27]:
sal = pd.read_csv('D:\\Python\\Python36\\Practice\\Salaries.csv')

d:\python\python36\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [28]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [29]:
sal.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

In [30]:
sal['Id'].nunique()

148654

In [31]:
sal['Status'].fillna('Unknown', inplace=True)

In [32]:
sal.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status                   0
dtype: int64

In [33]:
sal1 = pd.DataFrame(sal)

In [34]:
sal1 = pd.DataFrame(sal)

In [35]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            148654 non-null  object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [36]:
print('Data types: ', sal.dtypes, '\n')

Data types:  Id                    int64
EmployeeName         object
JobTitle             object
BasePay              object
OvertimePay          object
OtherPay             object
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Notes               float64
Agency               object
Status               object
dtype: object

In [37]:
print ('Dimensions: ', sal.shape, '\n')

Dimensions:  (148654, 13)

In [38]:
sal['BasePay'] = sal['BasePay'].fillna(0,inplace=True)

In [39]:
sal.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay             148654
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status                   0
dtype: int64

In [40]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,None,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,Unknown
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),None,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,Unknown
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),None,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,Unknown
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,None,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,Unknown
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",None,9737,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,Unknown

In [41]:
sal['OvertimePay'].astype(str).astype(float, copy=False)

ValueError: could not convert string to float: 'Not Provided'

#What is the job title of JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up

In [42]:
print(sal[sal['EmployeeName'] =='JOSEPH DRISCOLL']['JobTitle'])

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object